.App{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  /* background-image: url('https://img.freepik.com/free-photo/3d-mountain-landscape-with-purple-sunset-sky_1048-8133.jpg?w=1060&t=st=1686147246~exp=1686147846~hmac=285203d0657543c3816a462b9ed58a36f6b53284247f4079491e78d949d66d36'); */
  background-position: center;
  background-size: cover;
  background: rgb(231,185,205);
background: radial-gradient(circle, rgba(231,185,205,1) 0%, rgba(228,148,233,1) 100%);
  color: #fff;

}
.card {
  display: flex;
  align-items: center;
    justify-content: center;
  flex-basis: 15%;
  height: 70vh;
  margin: 20px;
  border-radius: 20px;
  background: #e265ae2e;
  position: relative;
  padding: 0.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: hidden; 
  text-align: center;
 }
 .CradI{
  border-radius: 20px;
  width: 87%;
  height: 42vh;
  margin: auto;
 }
 .imgName{
  font-size: 2rem;
 }
 .card-details{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 .description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
 .delete{
  font-size: 20px;
  color: #fff;
  background-color: #005ff8;
  cursor: pointer;
  margin-top: 50px;
  width: 8%;
  border-radius: 5px;
  padding: 15px;
 }
 .delete:hover{
  background-color: #008bf8;
 }
 .card-button {
  cursor: pointer;
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 0%);
  opacity: 1;
 }

 @media only screen and (max-width: 767px) {
  .App{
    height: 100%;
  }
  .CradI {
    height: 20vh;
    border-radius: 20px;
    width: 80%;
    margin: auto;
  }
  .card {
    flex-basis: 41%;
    height: 50vh;
    padding: 0;
  }
  
  .card-details {
    margin-top: 10px; /* Add some spacing between cards */
  }
  
  .card-button {
    width: 80%; /* Adjust the button width to fit within the card */
    transform: translate(-50%, 0); /* Reset the transform */
    bottom: 10px; /* Move the button to the bottom of the card */
  }
  
  .delete {
    width: 20%; /* Adjust the width of the delete button */
    margin-top: 10px; /* Add some spacing between buttons */
  }
  .imgName {
    font-size: 1.5rem; /* Adjust the font size for better visibility on smaller screens */
    margin-top: 15px; 
  }
}
